div img{
	height: 160px;
	width: 160px;
	margin-right: 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
}

div.narrowit{
	width:400px;
}

#search-container{
	width:180px;
}

#right{
	/*background-color: red;*/
}

.contact{
	/*background-color: blue;*/
	/*height: 400px;*/
}

#maphere{
	/*background-color: pink;*/
}

