<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

</head>
<body>

<h1>Available Categories</h1>


  <span id='categories'></span>

  <span id='contact'></span>





  <script type="text/template" id='contact-template'>
  {{name}} - {{age}} - {{address}} - {{phone_number}}
  <img src={{picture}}>
  </script>


  <script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="/javascripts/mustache.min.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>


</body>
</html>