<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

</head>
<body>

<table width=100%><tr>
<td width="200px" valign="top">
<h1>Categories</h1>
  <ul id='categories'></ul>
</td>
<td valign="top">
  <span id='contacts'></span>
</td>
</tr></table>







  <script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="/javascripts/mustache.min.js"></script>
  <script type="text/javascript" src="/javascripts/js.js"></script>


</body>
</html>